.item {
    img {
        width: 220px !important;
        height: 220px;
        border-radius: 50%;
    }
}

.owl-carousel .owl-item img {
    display: block;
    margin: 0 auto;
}

.owl-carousel {
    position: relative;
}

.owl-nav{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-210%);

    button span{
        // width: 40px;
        // height: 40px;
        // border-radius: 50%;
        // display: inline-block;
        // border: 1px solid red;
        font-size: 50px;
    }
}

