.ourEquip {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.item {
    background-color: rgba(99, 128, 198, .5);
    display: flex;
    width: 44%;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 2%;
    border-radius: 16px;
    
    img {
        width: 180px !important;
        height: 180px;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }
    
    &-description {
        color: #fff;
        padding:  0 0 0 4%;
    }
}

.social-links a{
    margin: 0 8px 0 0;
}

@media screen and (max-width: 800px) {
    .ourEquip {
        width: 100%;
    }
    
    .item {
        width: 100%;

        img {
            width: 120px !important;
            height: 120px;
            aspect-ratio: 1/1;
            border-radius: 50%;
        }
    }

    .social-links a{
        margin: 0 8px 0 0;
        padding: 0px 0px;
        background-color: transparent;
    }

    .social-links a svg {
        fill: #fff;
    }
}
