.form-contact {
    h1 {
        text-align: center;
    }

    form{
        padding-bottom: 20px;

        .inputgroup {
            width: 300px;
            height: 6vh;
            margin: 20px 0;
    
            input, textarea {
                width: 100%;
                border-width: 1px 1px 3px;
                border-color: #19314a;
                margin: 10px 0;
            }
    
            input {
                height: 100%;
            }
    
            textarea{
                height: 200%;
            }

            button{
                width: 100%;
                margin: 6vh 0 0;
            }

        }
    }
} 

@media screen and (min-width: 1000px) {
    .form-contact{        
        form .inputgroup {
            width: 340px;
        }
    }
}
