a.nav-link(aria-current='page' href=dir + '../../views/pages/index.pug') INICIO
a.nav-link(href=dir + '../../views/pages/about.pug') NOSOTROS
a.nav-link(href=dir + '../../views/pages/services.pug') SERVICIOS
a.nav-link(href=dir + '../../views/pages/contact.pug') CONTÁCTANOS