include ../../mixins/socialIcons

a(href="https://www.facebook.com/cenitegsolutions", target='_blanck') 
    +socialIcons('fb')
a(href="https://www.instagram.com/cenitegsolutions/", target='_blanck') 
    +socialIcons('ig')
a(href="https://www.linkedin.com/in/ceniteg/", target='_blanck') 
    +socialIcons('li')
a(href="https://www.youtube.com/@cenitegsolutions4281", target='_blanck') 
    +socialIcons('yt')