footer.container-fluid.position-relative
    .row.text-white(style="background-color: #19314a") 
        .col-12.d-flex.flex-column.align-items-center.pt-5.pb-2(style="filter: brightness(0) invert(1);")
            include ../components/logo.pug
        .col-12.d-flex.flex-column.flex-md-row.justify-content-evenly.align-items-center.my-5
            include ../components/nav-links.pug
        .col-12.d-flex.flex-md-row.justify-content-center.align-items-center.mb-5.social-links
            include ../components/social-links.pug
        .col-12.text-center.pb-5
            p Copyright 2023 <a href="#">CENITEG</a>, Todos los derechos reservados.