footer.footer
    div.footer__wrapper
        div.footer__wrapper__company
            h3 EMPRESA
            a.nav-link(aria-current='page' href=dir + '../../views/pages/index.pug') <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 12c0 3.859 3.14 7 7 7 3.859 0 7-3.141 7-7s-3.141-7-7-7c-3.86 0-7 3.141-7 7zm12 0c0 2.757-2.243 5-5 5s-5-2.243-5-5 2.243-5 5-5 5 2.243 5 5z"></path></svg> INICIO
            a.nav-link(href=dir + '../../views/pages/about.pug') <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 12c0 3.859 3.14 7 7 7 3.859 0 7-3.141 7-7s-3.141-7-7-7c-3.86 0-7 3.141-7 7zm12 0c0 2.757-2.243 5-5 5s-5-2.243-5-5 2.243-5 5-5 5 2.243 5 5z"></path></svg> NOSOTROS
            a.nav-link(href=dir + '../../views/pages/services.pug') <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 12c0 3.859 3.14 7 7 7 3.859 0 7-3.141 7-7s-3.141-7-7-7c-3.86 0-7 3.141-7 7zm12 0c0 2.757-2.243 5-5 5s-5-2.243-5-5 2.243-5 5-5 5 2.243 5 5z"></path></svg> SERVICIOS
            a.nav-link(href=dir + '../../views/pages/contact.pug') <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 12c0 3.859 3.14 7 7 7 3.859 0 7-3.141 7-7s-3.141-7-7-7c-3.86 0-7 3.141-7 7zm12 0c0 2.757-2.243 5-5 5s-5-2.243-5-5 2.243-5 5-5 5 2.243 5 5z"></path></svg> CONTÁCTANOS 
        div.footer__wrapper__contact
            h3 CONTÁCTANOS
            p Cal. Carlos Marcelo Corne Nro. 279 - Trujillo
            p info@ceniteg.com
            p +51 945 297 232

            .social-links
                include ../components/social-links.pug

    div.footer__copyright
        p Copyright 2023 <b>CENITEG</b>, Todos los derechos reservados.