nav.navbar.navbar-expand-lg.topnav
  div.container-fluid
    a.navbar-brand(href=dir + '../../views/pages/index.pug')
      include ../components/logo.pug
      span <b>CENITEG</b> <b>SOLUTIONS</b>
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    div#navbarNavAltMarkup.collapse.navbar-collapse.justify-content-end
      div.navbar-nav
        include ../components/nav-links.pug