include ../../data/equip
include ../../mixins/socialIcons

each item, i in dataEquip
  div.integrants__item
    //- img(src=item.img, alt="carousel-equip-img-"+i)
    div.integrants__item__img(style="background-image: url('" + item.img + "')")
    div.integrants__item__detail
      h4 #{item.name}
      p #{item.role}
      div.social-links
          each link, key in item.socialLinks 
              a(href=link, target='_blanck')
                  +socialIcons(key)
