include ../../data/equip
include ../../mixins/socialIcons

.ourEquip
  each item, i in dataEquip
    .item
      img(src=item.img, alt="carousel-equip-img-"+i)
      .item-description 
        h2.mb-2 #{item.name}
        p.mb-4 #{item.role}
        .social-links
            each link, key in item.socialLinks 
                a(href=link)
                    +socialIcons(key)
