@import '../base/_variables'
@import '../module/_social-links'

.footer
    background-image: url('/src/assets/img/footer-img.jpg')
    background-size: cover
    width: 100%
    color: $white

    &__wrapper
        padding: 4% 8%
        display: flex
        justify-content: space-between

        &__company h3,
        &__contact h3
            color: $yellow
            font-weight: 600

        &__company a svg
            fill: $white

        &__contact
            display: flex
            justify-content: flex-start
            align-items: flex-end
            flex-direction: column

        &__contact p
            margin: .2em 0

    &__copyright
        background-color: $blue-strong
        padding: 8px 0
        display: flex
        justify-content: center
        align-items: center

        & p
            margin: 0

@media screen and (max-width: 520px)
    .footer
        background-image: url('/src/assets/img/footer-img.jpg')
        background-size: cover
        width: 100%
        padding: 8% 0 0
        color: $white

        &__wrapper
            padding: 4% 8%
            flex-direction: column

            &__company
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                margin: 0 0 16px

            &__contact
                align-items: center
                text-align: center
            &__contact .social-links
                justify-content: center
                margin: 2% 0 8%

        &__copyright p
            text-align: center
