extends ../layouts/default.pug

block consts
    - var title = "Nosotros"
    - var dir = ''

block content    
    main 
        section.container-fluid.hero.hero-about
         .row.text-white
          .col-lg-8.hero-about-text(data-aos="fade-down-right")
            h1
                | &iquest;Quienes somos?
            p
                | Ceniteg es una empresa consultora que brinda asesor&iacute;a y
                | soluciones integrales en Miner&iacute;a. Los servicios de nuestra
                | empresa abarcan todo el ciclo de vida de los proyectos, desde el
                | dise&ntilde;o, exploraci&oacute;n, estudios de factibilidad, planicaci&oacute;n,
                | benecio, comercializaci&oacute;n y hasta el cierre de los mismos.

    section.container-fluid.d-flex.flex-wrap.justify-content-evenly.pt-5(data-aos="fade-up",   data-aos-duration="2000")            
        include ../../partials/sections/goals

    section.container-fluid.py-5.our-equip
        h2.container-fluid.d-flex.flex-wrap.justify-content-evenly.text-white(data-aos="fade-up",   data-aos-duration="1500") NUESTRO EQUIPO
        .container-fluid.d-flex.flex-wrap.justify-content-evenly.pt-3.pb-2
            include ../../partials/sections/equip

    
    


        
        