extends ../layouts/default.pug

block consts
    - var title = "Nosotros"
    - var dir = ''

block content    
    .video-section
        video(autoplay='' muted='' playsinline='' loop='', src='https://storage.googleapis.com/ceniteg-images/NOSOTROS.mp4') 
        section.container-fluid
          .col-12.slide-right
            h1
                | &iquest;Quiénes somos?
            p Somos una organización dedicada a impulsar el desarrollo de proyectos que generan valor a nuestros clientes y aliados estratégicos del sector minería, gestión ambiental y producción, mediante la aplicación de ingeniería, transferencia tecnológica y educación.
            p.d-none.d-md-block Nuestra cultura está basada en la innovación, mejora continua, cuidado del medio ambiente, seguridad y responsabilidad social, siendo la persona y la sociedad lo más importante para nosotros.
            p Brindamos soluciones integrales, globales y accesibles desde el año 2014.

    section.goals
        div.goals__item
            div.goals__item__img
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" ><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" ><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg>
            h4 Misión
            p Ayudar a las organizaciones en todos sus procesos de crecimiento.
        div.goals__item
            div.goals__item__img
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" ><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" ><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg>
            h4 Aspiración
            p Ser socios estratégicos de nuestros clientes a nivel nacional e internacional, comprometidos con la calidad, investigación, innovación y tecnología.
        div.goals__item
            div.goals__item__img
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" ><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path d="M12 2C6.486 2 2 6.486 2 12c.001 5.515 4.487 10.001 10 10.001 5.514 0 10-4.486 10.001-10.001 0-5.514-4.486-10-10.001-10zm0 18.001c-4.41 0-7.999-3.589-8-8.001 0-4.411 3.589-8 8-8 4.412 0 8.001 3.589 8.001 8-.001 4.412-3.59 8.001-8.001 8.001z"></path></svg>
            h4 Propósito
            p Contribuir a la eficacia y sostenibilidad de los diferentes negocios del sector industrial.

    

    section.container-fluid.py-5
        h2 NUESTRO EQUIPO
        div.manager.py-5
            div.manager-wrapper
                h3 MBA Juan Eduardo Moreno Gutiérrez
                span Gerente

                p Licenciado en Administración de Empresas. Máster en Dirección de Empresas y Maestría en Gobierno de Organizaciones por el PAD, Máster en Transformación Digital por la Universidad de Barcelona. Especialización en Dirección de Transformación Digital por la Universidad de Lima.

            img.manager-wrapper-img(src="/src/assets/img/juan__moreno__default.jpg", alt="Juan Moreno Default")

        div.integrants
            include ../../partials/sections/equip

    
    


        
        