extends ../layouts/default

block consts
    - var title = "Home"
    - var dir = ''

block content
    .container-fluid.full-hero.d-flex.align-items-end
        .col-12.mb-3.d-flex.justify-content-between.align-items-center
            div
                a(href="#").btn.btn-primary.btn-lg.ms-md-1.mt-1.mt-md-0.text-white Descargar brouchere
            a.pulsate(href="#")
                include ../../mixins/socialIcons
                +socialIcons('wspLg')
    