extends ../layouts/default

block consts
    - var title = "Home"
    - var dir = ''

block content
    .video-home
        video(autoplay='' muted='' playsinline='' loop='', src='https://storage.googleapis.com/ceniteg-images/INICIO.mp4')
        .container-fluid
            .col-12.slide-right
                H1 <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path d="M5.536 21.886a1.004 1.004 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886z"></path></svg> Servicios que mejoran la vida y la sociedad

    .container-fluid.py-5
        .col-12.card-home
            .manager-intro
                div
                div
                    <svg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 24 24"><path d="M6.5 10c-.223 0-.437.034-.65.065.069-.232.14-.468.254-.68.114-.308.292-.575.469-.844.148-.291.409-.488.601-.737.201-.242.475-.403.692-.604.213-.21.492-.315.714-.463.232-.133.434-.28.65-.35l.539-.222.474-.197-.485-1.938-.597.144c-.191.048-.424.104-.689.171-.271.05-.56.187-.882.312-.318.142-.686.238-1.028.466-.344.218-.741.4-1.091.692-.339.301-.748.562-1.05.945-.33.358-.656.734-.909 1.162-.293.408-.492.856-.702 1.299-.19.443-.343.896-.468 1.336-.237.882-.343 1.72-.384 2.437-.034.718-.014 1.315.028 1.747.015.204.043.402.063.539l.025.168.026-.006A4.5 4.5 0 1 0 6.5 10zm11 0c-.223 0-.437.034-.65.065.069-.232.14-.468.254-.68.114-.308.292-.575.469-.844.148-.291.409-.488.601-.737.201-.242.475-.403.692-.604.213-.21.492-.315.714-.463.232-.133.434-.28.65-.35l.539-.222.474-.197-.485-1.938-.597.144c-.191.048-.424.104-.689.171-.271.05-.56.187-.882.312-.317.143-.686.238-1.028.467-.344.218-.741.4-1.091.692-.339.301-.748.562-1.05.944-.33.358-.656.734-.909 1.162-.293.408-.492.856-.702 1.299-.19.443-.343.896-.468 1.336-.237.882-.343 1.72-.384 2.437-.034.718-.014 1.315.028 1.747.015.204.043.402.063.539l.025.168.026-.006A4.5 4.5 0 1 0 17.5 10z"></path></svg>

                    p Las empresas tienen su propia naturaleza, problemas y potencialidades, para desarrollarlas es necesario brindar <b>soluciones a medida</b>
                    h3 Ing. José Luis Ballón
                    h4 Fundador
                div
                    p Ingeniero de minas de la Universidad Nacional de Trujillo, especialista en proyectos mineros, ambientales y de responsabilidad social. Maestro en Sistemas Integrados de Gestión. Maestrando en Gobierno de Organizaciones en el PAD. Profesional graduado en singularidad humana, coach profesional miembro de la ICF. Experiencia en la academia como director de carrera y docente universitario. Presidente fundador del CONAPERVOL (Congreso Internacional de Perforación y Voladura). Fundador del CISSOMA (Congreso Internacional de Seguridad, Salud Ocupacional y Medioambiente). 