extends ../layouts/default.pug

block consts
    - var title = "Home"

block content
    .row.full-hero.d-flex.align-items-end
        .col-12.mb-3.d-flex.justify-content-between.align-items-center
            div
                button.btn.btn-primary.btn-lg.me-1 Cotizar
                button.btn.btn-outline-primary.btn-lg.ms-md-1.mt-1.mt-md-0.text-white Nuestro brouchere
            a.pulsate(href="#")
                <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="27" cy="27" r="27" fill="#1AD03F"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M37.8051 16.2557C36.4017 14.8431 34.7319 13.723 32.8925 12.9603C31.0531 12.1976 29.0807 11.8075 27.0894 11.8125C18.7397 11.8125 11.9424 18.6081 11.9391 26.9612C11.9391 29.6309 12.636 32.2364 13.9607 34.5347L11.8125 42.3833L19.8433 40.2756C22.0647 41.4849 24.5535 42.1189 27.0827 42.12H27.0894C35.4375 42.12 42.2347 35.3245 42.2381 26.9714C42.2439 24.9809 41.855 23.0091 41.0941 21.1698C40.3332 19.3306 39.2153 17.6604 37.8051 16.2557ZM27.0894 39.5635H27.0844C24.8291 39.5637 22.6153 38.9569 20.6752 37.8068L20.2162 37.5334L15.4507 38.7839L16.7214 34.1382L16.4227 33.6623C15.1618 31.6549 14.4943 29.3318 14.4973 26.9612C14.5007 20.0189 20.1487 14.3708 27.0945 14.3708C28.7487 14.3671 30.3871 14.6916 31.9151 15.3253C33.443 15.9591 34.8301 16.8896 35.9961 18.063C37.1682 19.2309 38.0973 20.6194 38.7296 22.1485C39.3619 23.6775 39.6849 25.3167 39.6799 26.9714C39.6765 33.9137 34.0284 39.5635 27.0894 39.5635ZM33.9964 30.132C33.6167 29.9414 31.7571 29.0267 31.4094 28.9002C31.0635 28.7736 30.8121 28.7112 30.5589 29.0892C30.3058 29.4672 29.5802 30.3194 29.3591 30.5725C29.1381 30.8256 28.917 30.856 28.539 30.667C28.161 30.478 26.9409 30.078 25.4947 28.7888C24.3692 27.7847 23.6098 26.5461 23.3887 26.1664C23.1677 25.7867 23.3651 25.5825 23.5558 25.3935C23.7262 25.2248 23.9338 24.9514 24.1228 24.7304C24.3118 24.5093 24.3742 24.3524 24.5008 24.0992C24.6274 23.8461 24.5649 23.625 24.4687 23.436C24.3742 23.2454 23.6166 21.3824 23.301 20.6247C22.9956 19.8906 22.6834 19.9885 22.4505 19.9784C22.2093 19.9685 21.9679 19.964 21.7266 19.9649C21.5346 19.9698 21.3458 20.0142 21.1718 20.0956C20.9979 20.1769 20.8426 20.2932 20.7157 20.4374C20.3681 20.817 19.3911 21.7317 19.3911 23.5947C19.3911 25.4577 20.7478 27.2582 20.9368 27.5114C21.1258 27.7645 23.6064 31.5867 27.4033 33.2269C28.3078 33.6167 29.0132 33.8496 29.5616 34.0251C30.4678 34.3137 31.293 34.2715 31.9461 34.1753C32.6734 34.0673 34.1854 33.2607 34.5009 32.3764C34.8165 31.4922 34.8165 30.7345 34.722 30.5759C34.6275 30.4172 34.3727 30.321 33.9964 30.132Z" fill="white"/>
                </svg>