extends ../layouts/default.pug

block consts
    - var title = "Services"
    - var dir = ''

append css
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css')

append script
    script(src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js')
    

block content
    .video-section
        video(autoplay='' muted='' playsinline='' loop='', src='https://storage.googleapis.com/ceniteg-images/SERVICIOS.mp4')
        section.container-fluid
            .col-12.slide-right
                h1 Asesoría y Soluciones Integrales en Minería y Medio Ambiente
                p Nuestra empresa ofrece servicios de asesoría y soluciones integrales en el sector minero, ambiental y otros sectores productivos, para ayudar a nuestros clientes a cumplir con las normas ambientales y mejorar su eficiencia operativa.

    include ../../data/services
    include ../../mixins/modalService
    h2.title-services.pt-5 NUESTROS SERVICIOS
    section.services
        each service, key in services
            .card(id=key)
                .card-img-top.card-img-service(style="background-image: url('"+ service.img + "')")
                    h2 #{service.name}
                .card-body
                    p.card-text #{service.description}
                .card-footer
                    +modalService(service.name, service.topics.items, key)
                    a(href="services/"+key+".pug") Ver Más 

    section.py-4.mb-2.bg-purple
        p Más de
        div
            p#counter 500
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
            </svg>
        p clientes atendidos 

        