extends ../../layouts/default

block consts
    - var title = "Services - SISTEMA DE GESTIÓN DE CALIDAD ISO 9001"
    - var dir = '../'

block content
    include ../../../mixins/serviceInfo

    +serviceInfo('businessManagement')