@import '../base/_variables'

.hero-about
    background-image: url('https://res.cloudinary.com/dokwefr5i/image/upload/v1678470839/Ceniteg/pexels-singkham-1108572_vktx6a.jpg')
    height: 85vh
    display: flex
    justify-content: center
    align-items: center

    &-text
        z-index: 100

    &-text h1
        font-size: 48px
        text-align: justify

    &-text p
        font-size: 24px
        text-align: justify

.goal-card
    width: 16rem

@media screen and (min-width: 1000px)
    .hero-about-text h1
        padding: 0 0 4% 12%

    .hero-about-text p
        padding: 0 0 0 12%

    .goal-card
        width: 20rem

@media screen and (max-width: 520px)
    .hero-about-text h1
        font-size: 36px

    .hero-about-text p
        font-size: 18px

.card-title
    text-align: center
    font-size: 18px
    font-weight: bold
    color: rgb(7, 45, 168)
    padding: 16px 60px

.card-text
    text-align: center
    font-size: 15px
    padding: 0 20px 12px

.our-equip
    background-image: url('https://res.cloudinary.com/dokwefr5i/image/upload/v1678978826/Ceniteg/pexels-pixabay-158729_l7lzas.jpg')

.ourEquip
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    width: 70%

.item
    background-color: rgba(99, 128, 198, .5)
    display: flex
    width: 44%
    justify-content: center
    align-items: center
    padding: 2%
    margin: 2%
    border-radius: 16px

    img
        width: 180px !important
        height: 180px
        aspect-ratio: 1/1
        border-radius: 50%

    &-description
        color: #fff
        padding: 0 0 0 4%

.social-links a
    margin: 0 8px 0 0

@media screen and (max-width: 800px)
    .ourEquip
        width: 100%

    .item
        width: 100%

        img
            width: 120px !important
            height: 120px
            aspect-ratio: 1/1
            border-radius: 50%

    .social-links a
        margin: 0 8px 0 0
        padding: 0px 0px
        background-color: transparent

        & svg
            fill: #fff
