@import '../base/_variables'

.video-section section.container-fluid
    & h1
        font-size: 56px
        font-weight: 800
        margin: 0 0 2% 8%
        text-align: justify

    & p
        margin: 0 0 2% 8%
        padding: 0 20% 0 0
        font-size: 24px
        text-align: justify

@media screen and (max-width: 520px)
    .video-section section.container-fluid
        h1
            margin: 0 2% 2% 2%
            font-size: 36px
        p
            margin: 8% 2% 10% 2%
            font-size: 18px
            padding: 0 0 0 0

.goals
    display: flex
    width: 100%
    padding: 4% 8%
    gap: 40
    justify-content: center

    &__item
        box-shadow: 0em 0em 2em 0.1em #19334c51
        width: 30%
    &__item &__item__img
        background-size: cover
        height: 260px
        display: flex
        justify-content: center
        align-items: flex-end
        position: relative

    &__item &__item__img svg
        position: absolute
        top: 88%
        fill: $white

    &__item &__item__img svg:last-child
        fill: $purple-strong
        top: 93%

    &__item:first-child &__item__img
        background-image: url('/src/assets/img/mision.jpg')

    &__item:nth-child(2) &__item__img
        background-image: url('/src/assets/img/aspiracion.jpg')

    &__item:last-child &__item__img
        background-image: url('/src/assets/img/proposito.jpg')

    &__item h4
        margin: 28px 0 12px
        font-size: 44px
        color: $purple-strong

    &__item p
        color: $blue-strong
        font-size: 22px
        padding: 0 4%
        font-weight: 400

    &__item h4,
    &__item p
        text-align: center

.manager .manager-wrapper>p
    margin: 36px 0 0
    padding: 0 16px 0 0

h2
    text-align: center
    font-size: 44px
    color: $blue-strong
    font-weight: 800

.integrants
    display: flex
    width: 100%
    justify-content: center
    flex-wrap: wrap
    gap: 40

    &__item
        // background-color: $blue-strong
        // background-color: rgba(99, 128, 198, .5)
        display: flex
        flex-direction: column
        align-items: center
        width: 20rem
        height: 20rem
        box-shadow: 0em 0em 2em 0.1em #00000038
        border-radius: 16px
        padding: 1.5em 0 0

        &__img
            width: 100px
            height: 100px
            background-size: cover
            border-radius: 50%
            border: 1px solid red

        &__detail h4
            text-align: center
            margin: 20px 0 12px
            padding: 0 8px
        &__detail p
            text-align: center
            margin: 20px 0 12px
            font-size: 18px

        &__detail .social-links
            justify-content: center
