@import '../base/_variables'

.video-home
    position: relative
    overflow: hidden
    width: 100%
    height: 85vh

    & video
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
        top: 0
        left: 0

    & .container-fluid
        position: absolute
        height: 100%
        display: flex
        align-items: center
        color: $white
        background-color: rgba(0, 0, 0, .3)
        z-index: 100

        & div:first-child
            h1
                margin: 0 0 2% 8%
                font-size: 56px
                font-weight: 800

                & svg
                    fill: $yellow

            p
                margin: 0 0 2% 8%
                text-align: justify
                padding: 0 44% 0 0
                font-size: 28px

            a#btnBrochure
                margin: 0 0 0 8%
                border: 2px solid $yellow
                background-color: $yellow
                padding: 4px 32px
                color: $white
                border-radius: 28px
                font-weight: 600
                font-size: 20px

                &:hover
                    cursor: pointer
                    background-color: transparent

@media screen and (max-width: 520px)
    .video-home
        & .container-fluid
            & div:first-child
                h1
                    margin: 0 2% 2% 2%
                    font-size: 36px
                p
                    margin: 8% 2% 10% 2%
                    font-size: 18px
                    padding: 0 0 0 0
                a#btnBrochure
                    margin: 0 0 0 2%

.card-home
    width: 100%
    display: flex
    justify-content: center
    align-items: center

    & .manager-intro
        width: 70%
        display: flex
        border: 2px solid $purple-strong
        border-radius: 12px
        position: relative

        & div:first-child
            width: 30%
            background-size: cover
            background-position: top center
            background-repeat: no-repeat
            background-image: url('https://res.cloudinary.com/dokwefr5i/image/upload/v1679489597/Ceniteg/gerente_o1j7o0.jpg')
            border-radius: 10px 0 0 10px

        & div:last-child
            width: 70%
            padding: 8% 6% 6% 8%

            & svg
                position: absolute
                z-index: -100
                fill: $gray
                transform: translate(-40%, -40%)

            & p
                z-index: 200
                font-size: 28px

            & h3
                z-index: 200
                font-size: 36px
                margin: 8% 0 4% 0
                font-weight: 600
                color: $purple-strong

            & h4
                z-index: 200
                font-size: 28px

@media screen and (max-width: 920px)
    .card-home .manager-intro
        width: 100%

@media screen and (max-width: 520px)
    .card-home
        & .manager-intro
            flex-direction: column

            & div:first-child
                width: 100%
                height: 240px
                border-radius: 10px 10px 0 0

            & div:last-child
                width: 100%

                & p
                    font-size: 20px

                & h3
                    font-size: 32px

                & h4
                    font-size: 20px
