a.nav-link.active(aria-current='page' href='../src/index') INICIO
a.nav-link(href='../src/about/index') NOSOTROS
a.nav-link(href='../src/services') SERVICIOS
a.nav-link(href='../src/contact') CONTACTANOS