mixin modalService(title, body, key)
    // Button trigger modal
    button.btn.btn-primary.px-4(type='button' data-bs-toggle='modal' data-bs-target='#' + 'exampleModal' + key) Servicios
    // Modal
    .modal.fade(id='exampleModal'+key, tabindex='-1' aria-labelledby='exampleModal'+key+'Label' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1.modal-title.fs-5(id='exampleModal'+key+'Label') #{title}
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    each topic in body
                        p • #{topic.name}
                .modal-footer
                    button.btn.btn-primary(type='button' data-bs-dismiss='modal') Close