include ../data/services
include modalService

mixin serviceInfo(service)
    - var serviceDetails = services[service]

    .container-fluid.d-flex.justify-content-center.align-items-center.text-white.hero.hero-info-service(style="background-image: url('" + serviceDetails.img + "')")
        .row
            .col-lg-8.slide-right
                h1 #{serviceDetails.name}
                p #{serviceDetails.description}

    .container-fluid.service-info.py-5
        h2 Subservicios
        .subservice
            each topic, key in serviceDetails.topics
                .subservice-content
                    .subservice-content-img(style="background-image: url('" + topic.img + "')")
                        div
                            h3 #{topic.name} 
                            if topic.items.length
                                +modalService(topic.name, topic.items, key)
                            else
                                span 