- var clients = ['https://res.cloudinary.com/dokwefr5i/image/upload/v1678323180/corpSolution/Img_Hero_dyxs21.jpg', 'https://res.cloudinary.com/dokwefr5i/image/upload/v1678470839/Ceniteg/pexels-singkham-1108572_vktx6a.jpg','https://res.cloudinary.com/dokwefr5i/image/upload/v1678470838/Ceniteg/pexels-pixabay-235615_kscqew.jpg']
